# 문서제외
*.pdf
*.pptx

# eclipse
*.class
.classpath
.project
.metadata
.settings
.recommenders
bin/**
tmp/**
*.bak


# jdk 제외, apis, eclipse 제외
dev/Java/
dev/java/
dev/apis/
dev/eclipse/
dev/workspace/sistJavaStudy/doc/


# zip파일 제외
*.zip

# 팀프로젝트 생략
dev/workspace/logAnalysisApp/

# xml파일 일단 생략
.xml
dev/def_bookmarks_win32.xml
*.xml

# tomcat생략
dev/apache-tomcat-8.5.37/*

#exe파일 생략
*.exe

#log 생략
*.log
