# 문서제외
*.pdf

# eclipse
.classpath
.project
.metadata
.settings
.recommenders
bin/**
tmp/**
*.bak


# jdk 제외, apis, eclipse 제외
dev/Java/
dev/java/
dev/apis/
dev/eclipse/


# zip파일 제외
*.zip

dev/env.bat
dev/env.bat
